<% form_for @order do |f| %>
  <%= f.error_messages %>
<p>
  <strong>Products:</strong><br /> 
  <% @products.each do |product|%>
  <% checked = "yes" if product.quantity > 0%>
  <%= check_box_tag("products[#{product.id.to_s}][product_id]", product.product_id.to_s, checked ) %>
  <%= f.label product.product.name %>
  <%= text_field_tag "products[#{product.id.to_s}][quantity]", product.quantity %><br /> 

  <% end %>
</p>

  <p>
    <%= f.label :state %><br />
    <% if @order.id.nil? %>
    <%= select("order", "state", ["pending", "paid"]) %>
    <% else %>
    <%= select("order", "state", ["pending", "paid"], :selected =>  @order.state) %>
    <%=h  @order.state %>
    <% end %>    
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
