<% form_for @order do |f| %>
  <%= f.error_messages %>
<p>
  <strong>Products:</strong><br /> 
  <% @order.products.each do |product|%>
  <% checked = "yes" unless @order.id.nil?%>
  <%= check_box_tag('products[]', product.id.to_s, checked ) %>
  <%= f.label product.name %><br /> 
  <% end %>
</p>
  <p>
    <%= f.label :sub_total %><br />
    <%=h @order.sub_total %>
  </p>
  <p>
    <%= f.label :total %><br />
    <%=h @order.total %>
  </p>
  <p>
    <%= f.label :shipping_cost %><br />
    <%=h @order.shipping_cost %>
  </p>
  <p>
    <%= f.label :state %><br />
    <% if @order.id.nil? %>
    <%= select("order", "state", ["pending", "paid"]) %>
    <% else %>
    <%=h  @order.state %>
    <% end %>    
  </p>

  <p><%= f.submit "Submit" %></p>
<% end %>
