
<h1>Order</h1>
<div class = "container" id = "order">
<table id = "order">
  <tr><th>
      <strong>Products:</strong>
  </th></tr>
  <tr><td>
      <ul><%= @order.product_in_orders.collect {|product| "<li>#{product.product.name} (#{product.quantity}) </li>"}%></ul>
  </td></tr>
  <tr><td>
  <strong>Sub Total:</strong>
  <%=h @order.sub_total %>
  </td></tr>
  <tr><td>
  <strong>Total:</strong>
  <%=h @order.total %>
  </td></tr>
  <tr><td>
  <strong>Shipping Cost:</strong>
  <%=h @order.shipping_cost %>
  </td></tr>
  <tr><td>
  <strong>State:</strong>
  <%=h @order.state %>
  </td></tr>
  <tr><td>
  <strong>User:</strong>
  <%=h @order.user.username %>
  </td></tr>
  <tr><td>
  <%= link_to "Edit", edit_order_path(@order) %> |
  <%= link_to "Destroy", @order, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", orders_path %>
  </td></tr>
</table>
</div>
