<h1>Vendors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Description</th>
  </tr>
  <% for vendor in @vendors %>
    <tr>
      <td><%=h vendor.name %></td>
      <td><%=h vendor.phone %></td>
      <td><%=h vendor.description %></td>
      <td><%= link_to "Show", vendor %></td>
      <td><%= link_to "Edit", edit_vendor_path(vendor) %></td>
      <td><%= link_to "Destroy", vendor, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Vendor", new_vendor_path %></p>
