<h1>Vendor</h1>

<p>
  <strong>Name:</strong>
  <%=h @vendor.name %>
</p>
<p>
  <strong>Phone:</strong>
  <%=h @vendor.phone %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @vendor.description %>
</p>

<p>
  <%= render :partial => 'products', :locals => { :vendor => @vendor, :products => @vendor.products } %>
</p>

<p>
  <strong>Shipping Cost:</strong>
  <%=h @vendor.shipping_cost %>
</p>
<p>
  <%= link_to "Edit", edit_vendor_path(@vendor) %> |
  <%= link_to "Destroy", @vendor, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", vendors_path %>
</p>
