<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Taco manager: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<div id = "main_container">
<div id= "top_menus">
  <div id="user_nav">  
    <% if current_user %>
    <span>Hi <%= current_user.username %></span>
    <%= link_to "Logout", logout_path %>
    <% else %>
    <%= link_to "Login", login_path %> |
    <%= link_to "Register", new_user_path %>
    <% end %>
  </div>
  <div id="user_menu">  
    <% if current_user %>
      <%= link_to "Home", root_path %> |
      <%= link_to "New Order", new_order_path %>
    
      <% if current_user.is_admin? %>
      | <%= link_to "Users", users_path %>
      | <%= link_to "Products", products_path %>
      | <%= link_to "Vendors", vendors_path %>
      | <%= link_to "Orders", orders_path %>
      <% end %>
    <% else %>
      <%= link_to "Home", root_path %>
    <% end %>
  </div>
</div>
<div style="visibility:hidden;display:none;"></div>
<p></p>
<p id = "app_notice"><%= flash[:notice] %></p> 
 

  <%= yield %>
</div>
</body>
</html>
